* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 40vh);
}
#main > article {
  flex: 1;

}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header,
footer,
article,
nav,
aside {
  padding: 1em;
  margin: 0;
}
article{
    width: 100%;
    margin-top: 100px;
}
/* menu */

.menu-wrap {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  text-align: left;
  background: #ffffff;
  border-bottom: solid;
}
.menu {
  width: 100%;
  margin: 0px;
  text-align: left;
}
.menu li {
  margin: 0px;
  list-style: none;
}
.menu a {
  transition: all linear 0.15s;
  color: white;
}
.menu li:hover > a,
.menu .current-item > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*----- Top Level -----*/

.menu > ul > li {
  display: inline-block;
  position: relative;
  font-size: 19px;
}
.menu > ul > li > a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
  background: #ffffff;
}
/*----- Bottom Level -----*/

/* ADD THESE */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu li:hover .sub-menu {
  z-index: 1;
  display: block; /* ADD ME */
  -webkit-animation: fadeIn 0.15s; /* ADD ME */
  animation: fadeIn 0.15s; /* ADD ME */
}
.sub-menu {
  width: 250px;
  padding: 5px 0px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 0;
  background: rgb(255 255 255);
  display: none; /* ADD ME */
}
.sub-menu li {
  display: block;
  font-size: 16px;
}
.sub-menu li a {
  padding: 10px 30px;
  display: block;
  text-decoration: none;
  color: black;
}
.sub-menu li a:hover,
.sub-menu .current-item a {
  background: #acacac;
}

/* end menu */

/* //Flex container */
.container-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
/* // Cards */
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 40rem) {
  .cards {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards {
    width: 33.3%;
  }
}
.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.card-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}

.card-title {
  font-size: 25px;
  line-height: 1.1em;
  color: #32325d;
  margin-bottom: 0.2em;
}

.card-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}
.cards .card-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}


/* footer */
.footer-contaner {
    color: #ffffff;
    background: #111111;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  
  .footer-contaner a {
    color: #6c757d;
    text-decoration: none;
  }
  .footer-contaner a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 576px) {
    /* footer section */
    .footer-contaner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: left;
    }
  }
  

/* gallery */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .photo {
    background-image: url('dog.jpg');
  }


  /* spliter */
  .spliter{
    display: flex;
    padding: 1rem;

  }
  .split{
    background-color: #0e1015;
    flex-grow: 1;
    align-self: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
 

  }


  /*  */
  .parent {
    display: flex;
    padding: 1rem;
  }
  
  .item {
    width: 50%;
    padding: 2em;
    min-height: 500px;
  }
  
  .last {
    color: #222;
    background: #f5f5f5
  }
  
  @media screen and (max-width: 600px){
    
    .parent {
      flex-direction: column-reverse;  
    }
    
    .item {
      width: auto;
      min-height: 200px;
    }
    
 
    
  }